.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: var(--main-background-color);
  backdrop-filter: blur(0.15rem);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  text-align: center;
  overflow-y: auto;
  background-color: #fff;
  width: 40rem;
  max-height: 30%;
  max-width: 90%;
  padding-bottom: 0.3rem;
  padding-top: 0rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.15rem 0.25rem var(--box-shadow-color);
  margin: 0rem 2.5rem;
  animation: fade 0.5s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 2;
  }
  100% {
    opacity: 1;
  }
}

.x-close-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 0.02rem;
  margin-bottom: 0.3rem;
}

.modal-btn-close {
  font-size: 1.25rem;
  cursor: pointer;
}

.modal-title {
  padding: 0.3rem;
  font-size: 2.5em;
  margin: 0;
}

.modal-items {
  padding-bottom: 0.3rem;
}
